@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

h1,h2,h3,h4,h5,h6,body{

  font-family: "Azeret Mono", monospace;
    
   }
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Banner Section styles start here */
.Banner-section{
  width:auto;
  height:652px ;
  background-image: url(Images/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  margin-top: 120px;


  }

  .Banner-content{ 
  text-align: center;
  display: flex;
  height:500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 120px 230px 0px 230px;
  } 
  .Banner-content h1{
    color: rgb(0, 0, 0);
    font-size: 38px;
    font-synthesis-weight: 800;
    margin: 20px 30px;
  }
  .Banner-content p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;

  }
.btn{

    font: size 20px;
    font-weight: 600;
    color : #fff;
    padding: 15px 35px;
    background-color: black;
    border-radius: 8px;
    margin-top: 30px;
    text-decoration: none;

    
  }
/* Banner Section styles end here */
/*2nd section css start */

.Why-Web-Development {
     padding: 80px 40px 80px 40px;
     margin: 100px 85px 100px 85px;
     background-color: #fafafb;
     border-radius: 16px;

   
   
}
.Why-Web-Development h2 { 
     text-align: center;
     margin: 5px;
     font-size: 35px;
     font-weight: 600;
     color: black;


}
.column-1{
     margin-top: 30px;
     font-size: 16px;
     font-weight: 400;
     color: black;
     text-align: center;
}
.feature-container-layer{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 30px;

     
}
.layer-box{
     margin: 50px 15px 0px 15px;
     padding: 40px;
     border-radius: 10px;
     background-color: #fff
     flex-direction: column;
     display:flex;
     align-items:left;
     width: 100%;
     max-width: 11800px;
     justify-content: space-between;
     gap: 30px;
     box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
     
     
     

}
.layer-box p {
     margin-top: 10px;
     

}
.btn-layer {
     background-color: #fafafb
     padding: 10px 20px;
     text-decoration : none;
     margin: 10px;
     color: #000;
     border-width: 1px 1px 1px 1px;
   
}
.layer-content{
     text-align:left;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
}
.layer-box img {
     max-width:250px;
     border-radius: 8px;
     margin-right: 50px;
}


/* 2nd section css end */

/* My Inspiration css start */

.My-Inspiration {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 30px;
     margin:0px 150px 60px 150px;

}
.My-Inspiration h2 {
      text-align: center;
     font-size: 38px;
     font-weight: 800;
}
.My-Inspiration p{
     text-align: center;
     font-size: 16px;
     font-weight: 400;
}
.Video{
     border-radius: 15px;
     padding: 15px;
     border-width: 2px;
    display: flex;
    background-color: rgb(219, 219, 219);
    border-color: #000;
}

/* My Inspiration css end here */

/*  My Current Target start here  */
.My-Current-Target{
     
     gap: 30px;
     margin:0px 150px 60px 150px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;

}
.My-Current-Target h2 {
     text-align: center;
     font-size: 38px;
     font-weight: 800;

}
.My-Current-Target p {
     text-align: center;
     font-size: 16px;
     font-weight: 400;
}
.card-btn {
     padding: 0px;   
     border-width: 0px 0px 1px 0px;
     border-radius: 0px;
     margin-top: 10px;
     margin-bottom: 10px;
     text-decoration: none;
     color: #000;
     text-decoration: none;

}  
.feature-container-card{
     margin: 10px;
     padding: 15px;
    

     

}
.card-1{

     padding: 20px;
     border-radius: 10px;
     margin: 10px;
     box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
     justify-content: flex-start;
     align-items: flex-start;
     background-color: #fff6f4;

} 
.card-2{

     padding: 20px;
     border-radius: 10px;
     margin: 10px;
     box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
     justify-content: flex-start;
     align-items: flex-start;
     background-color: #f2f6fe;

     
} 
.card-3{

     padding: 20px;
     border-radius: 10px;
     margin: 10px;
     box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
     justify-content: flex-start;
     align-items: flex-start;
     background-color: #fffdf2;

} 

.card-1 h4 {
     font-size: 26px;
     color: #000;
     text-align: start;
}
.card-2 h4 {
     font-size: 26px;
     color: #000;
     text-align: start;
     margin: 10px;
}
.card-3 h4 {
     font-size: 26px;
     color: #000;
     text-align: start;
}
.card-1 p {
     font-size: 16px;
     color: #000;
     font-weight: 400;
     text-align: start;
     margin-top: 8px;
     margin-bottom: 8px;
}
.card-2 p {
     font-size: 16px;
     color: #000;
     font-weight: 400;
     text-align: start;
     margin-top: 8px;
     margin-bottom: 8px;
}
.card-3 p {
     font-size: 16px;
     color: #000;
     font-weight: 400;
     text-align: start;
     margin-top: 8px;
     margin-bottom: 8px;
}



/*  My Current Target end here  */
/* I need Support  css start  here */
.I-need-Support{
     width:auto;
     height:380px ;
     background-image: url(Images/handshake.jpg);    
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     margin: 150px;
     margin-top: 100px;
     border-radius: 16px;
     padding: 64px 148px 64px 148px;
     align-items: center;
     
}

.I-need-Support h2 {
     text-align: center;
     text-decoration: none;
     color : #ffffff;
     padding: 10px;

}
.I-need-Support p {
     text-align: center;
     text-decoration: none;
     color : #ffffff;
     padding: 10px;

}
.I-need-Support form {
     text-align: center;
     text-decoration: none;
     color : #ffffff;
     padding: 50px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
     
}
.form-input input{
     padding: 10px;
     width:100%;
     display:inline;
     margin: 10px;
     border-radius: 10px;
     display: inline;
     border: none;
     margin: 10px;
}


.footer {
     padding: 23PX 23PX;     
     background-color: #f7f8f8;
     border-top: 2px;
     justify-content: space-around;
     display: flex;
     margin: 0px;


} 


.social-media-footer img {
     width: 20%;
     
}



